In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/elhamamini/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
html=browser.html
news_soup=soup(html,'html.parser')
slide_elem=news_soup.select_one('div.list_text')
slide_elem

<div class="list_text">
<div class="list_date">August 17, 2021</div>
<div class="content_title">NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet</div>
<div class="article_teaser_body">To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.</div>
</div>

In [5]:
#we are returning the most recent news in the website
news_title =slide_elem.find('div',class_='content_title').get_text()
news_title

"NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet"

news_p=slide_elem.find('div',class_="article_teaser_body").get_text()
news_p

### Featured Images

In [6]:
#now we will setup our url
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [7]:
#if you check the browser you can see we are in a diffrent page after we run this cell
full_image_elem=browser.find_by_tag('button')[1]
full_image_elem.click()

In [8]:
#since we are in the new page we need to parse the html again
html=browser.html
img_soup=soup(html,'html.parser')

In [9]:
#now we need to get the img url bc we are in a new page and it has a new source
img_url_rel=img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel
# we did this bc we want to get url like this not getting it manualy bc if the page updated we are still getting the first image

'image/featured/mars2.jpg'

In [10]:
#get the first part of url from the webpage adress bar
img_url=f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [11]:
#unnecessery line of code
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [12]:
#zero index means we just need a first table
# first we need to extract a data then return it to html again we use read_html bc its much easier than scrapping each row of the table
df=pd.read_html(url)[0]
df.columns=['Description','Mars','Earth']
df.set_index("Description", inplace=True)
# df.drop(labels='Mars - Earth Comparison', axis=0,inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [13]:
#with this line of code now we have the table in our web app
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
browser.quit()